<footer class="page-footer font-small" id="contact">
    <div class="container">
      <div class="row padding-footer">
        <div class="col-md-6 col-lg-4 mx-auto mb-4 text-center">
          <br>
          <h6 class="text-uppercase font-weight-bold">Product</h6>
          <p>Interior design & Contrator services</p>
          <br>
          <h6 class="text-uppercase font-weight-bold">Company Name</h6>
          <p>August Decoration Co.,Ltd.</p>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto mb-4 text-center">
          <br>
          <h6 class="text-uppercase font-weight-bold">Manager Director</h6>
          <p>Mr. Sumit Charoenkitmongkol</p>
          <br>
          <h6 class="text-uppercase font-weight-bold">CAPITAL REGISTERED</h6>
          <p>20 Million Baht</p>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold text-center">Contact</h6>
          <p class="margin-footer">
            <i class="fas fa-home"></i> 15 Soi Bangbon, New Road Bangbon, Bangkok 10150</p>
          <p class="margin-footer">
            <i class="fas fa-envelope"></i> augustdec-8383@hotmail.com</p>
          <p class="margin-footer">
            <i class="fas fa-phone"></i> (66)2 811-3096-7</p>
          <p class="margin-footer">
            <i class="fas fa-print"></i> (66)2 811-3088</p>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: rgb(15, 15, 15);">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> AugustDec.com</a>
    </div>
    <!-- Copyright -->

  </footer>