 <footer class="page-footer font-small" id="contact">
    <div class="container">
      <div class="row padding-footer">
        <div class="col-md-6 col-lg-4 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold text-center">Contact</h6>
          <p class="margin-footer">
            <i class="fas fa-home"></i> 15 Soi Bangbon, New Road Bangbon, Bangkok 10150</p>
          <p class="margin-footer">
            <i class="fas fa-envelope"></i> info@augustdecoration.com</p>
          <p class="margin-footer">
            <i class="fas fa-phone"></i> (66)2 811-3096-7</p>
          <p class="margin-footer">
            <i class="fas fa-print"></i> (66)2 811-3088</p>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: rgb(15, 15, 15);">© 2019 Copyright:
      <a href="http://www.augustdecoration.com/"> augustdecoration.com</a>
    </div>
    <!-- Copyright -->

  </footer>