<!DOCTYPE html>
<html>
<%- include('partials/header') %>
    <link rel="stylesheet" href="../stylesheets/style.css">
    </head>

    <body>
        <%- include('partials/navbar') %>
            <div id="content-wrap">
                <section id="project-detail">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="project-name">Residence Metropole Thonglor</h2>
                            </div>
                            <div class="col-md-12">
                                <div id="myBtnContainer">
                                    <button class="btn active" id="all"> Show all</button>
                                    <button class="btn" id="btn-main1"> Main Hall</button>
                                    <button class="btn" id="btn-main2"> Reception Area</button>
                                    <button class="btn" id="btn-lift"> Lift Lobby</button>
                                </div>
                            </div>
                        </div>
                        <div class="row my-shuffle-container">
                            <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Metropolis.jpg" class="js-img-viwer">
                                            <img src="../images/Metropolis.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["main2"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Metropolis-2.jpg" class="js-img-viwer">
                                            <img src="../images/Metropolis-2.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["lift"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Metropolis-3.jpg" class="js-img-viwer">
                                            <img src="../images/Metropolis-3.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["lift"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Metropolis-4.jpg" class="js-img-viwer">
                                            <img src="../images/Metropolis-4.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                </section>
            </div>
            <%- include('partials/footer') %>
                <script src="../javascripts/shuffle.js"></script>
                <script src="../javascripts/smartPhoto.js"></script>
    </body>

</html>