<!DOCTYPE html>
<html>
<%- include('partials/header') %>
    <link rel="stylesheet" href="../stylesheets/style.css">
    </head>

    <body>
        <%- include('partials/navbar') %>
            <div id="content-wrap">
                <section id="project-detail">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="project-name">The Politan Rive, Nonthaburi</h2>
                            </div>
                            <div class="col-md-12">
                                <div id="myBtnContainer">
                                    <button class="btn active" id="all"> Show all</button>
                                    <button class="btn" id="btn-main1"> Main Lobby 101</button>
                                    <button class="btn" id="btn-main2"> Main Lobby 102</button>
                                    <button class="btn" id="btn-lift"> Lift Lobby</button>
                                    <button class="btn" id="btn-mail"> Mail Box Area</button>
                                    <button class="btn" id="btn-toilet"> Toilet</button>
                                    <button class="btn" id="btn-after-sale"> After Sale Room</button>
                                    <button class="btn" id="btn-re-sale"> Re Sale Room</button>
                                    <button class="btn" id="btn-fitness"> Fitness Area 5602</button>
                                    <button class="btn" id="btn-sky"> Sky Lounge Area 57</button>
                                </div>
                            </div>
                        </div>
                        <div class="row my-shuffle-container">
                            <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-1.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-1.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-2.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-2.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["main2"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-3.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-3.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["main2"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-4.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-4.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["lift"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-5.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-5.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["mail"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-6.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-6.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["toilet"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-7.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-7.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["after-sale"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-8.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-8.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["after-sale"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-9.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-9.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["re-sale"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-10.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-10.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["re-sale"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-11.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-11.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["fitness"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-12.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-12.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["fitness"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-13.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-13.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["fitness"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-14.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-14.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["sky"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-15.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-15.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["sky"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-16.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-16.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["sky"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-17.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-17.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["sky"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-18.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-18.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["sky"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-19.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-19.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 picture-item column" data-groups='["sky"]'>
                                <div class="aspect aspect--16x9">
                                    <div class="aspect__inner">
                                        <a href="../images/Politan-rive-20.jpg" class="js-img-viwer">
                                            <img src="../images/Politan-rive-20.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
            <%- include('partials/footer') %>
                <script src="../javascripts/shuffle.js"></script>
                <script src="../javascripts/smartPhoto.js"></script>
    </body>

</html>