<!DOCTYPE html>
<html>
<% include partials/header %>
<link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <% include partials/navbar %>
    <div id="content-wrap">
        <section id="project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="project-name">Supreme Court Of Thailand</h2>
                    </div>
                    <div class="col-md-12">
                        <div id="myBtnContainer">
                            <button class="btn active" id="all"> Show all</button>
                            <button class="btn" id="btn-main1"> President of the Supreme Court</button>
                            <button class="btn" id="btn-main2"> Pantry</button>
                            <button class="btn" id="btn-toilet"> Toilet</button>
                        </div>
                    </div>
                </div>
                <div class="row my-shuffle-container">
                    <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-1.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-1.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-2.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-2.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-3.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-3.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-4.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-4.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-5.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-5.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-6.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-6.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-7.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-7.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 picture-item column" data-groups='["main2"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-8.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-8.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 picture-item column" data-groups='["main2"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-9.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-9.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 picture-item column" data-groups='["toilet"]'>
                        <div class="aspect aspect--16x9">
                            <div class="aspect__inner">
                                <a href="../images/Supreme-10.jpg" class="js-img-viwer">
                                    <img src="../images/Supreme-10.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <% include partials/footer %>
    <script src="../javascripts/shuffle.js"></script>
    <script src="../javascripts/smartPhoto.js"></script>
</body>

</html>