<!DOCTYPE html>
<html>
<% include partials/header %>
<link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <% include partials/navbar %>
    <div id="content-wrap">
        <section id="project-detail">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="project-name">The Tree Rio Bang-Aor</h2>
              </div>
              <div class="col-md-12">
                <div id="myBtnContainer">
                  <button class="btn active" id="all"> Show all</button>
                  <button class="btn" id="btn-main1"> Living Room</button>
                  <button class="btn" id="btn-main2"> Mutipurpose</button>
                  <button class="btn" id="btn-game"> Game Room</button>
                  <button class="btn" id="btn-kid"> Kid Room</button>
                  <button class="btn" id="btn-toilet"> Toilet</button>
                </div>
              </div>
            </div>
            <div class="row my-shuffle-container">
              <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-1.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-1.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 picture-item column" data-groups='["main1"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-2.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-2.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 picture-item column" data-groups='["main2"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-4.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-4.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 picture-item column" data-groups='["main2"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-5.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-5.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 picture-item column" data-groups='["main2"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-6.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-6.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 picture-item column" data-groups='["main2"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-7.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-7.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 picture-item column" data-groups='["game"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-8.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-8.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 picture-item column" data-groups='["game"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-9.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-9.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 picture-item column" data-groups='["kid"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-10.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-10.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 picture-item column" data-groups='["toilet"]'>
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <a href="../images/The-Tree-3.jpg" class="js-img-viwer">
                      <img src="../images/The-Tree-3.jpg">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    <% include partials/footer %>
    <script src="../javascripts/shuffle.js"></script>
    <script src="../javascripts/smartPhoto.js"></script>
</body>

</html>