.container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.content {
  flex-basis: 50%;
}

.content h2 {
  padding-top: 1.5rem;
  font-size: 1.3rem;
  color: orange;
  text-transform: uppercase;
}

.content h1 {
  font-size: 3.5rem;
}

.content p {
  font-weight: 300;
}

.imgContainer {
  flex-basis: 50%;
  overflow: hidden;
  border-radius: 6px;
}

.imgContainer img {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 75rem) {
  .content h2 {
    padding-top: 1.2rem;
    font-size: 1.1rem;
  }

  .content h1 {
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 62rem) {
  .container {
    margin: 1rem 0;
    flex-direction: column;
  }

  .content h2 {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .content h1 {
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 54rem) {
  .content h2 {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .content h1 {
    font-size: 2.75rem;
  }
}
