html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 2.5rem 10rem;
  font-family: "Cardo", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
